.call-end-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: red;
}

.call-active-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #8ce06c;
}

.video-call-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: black;
}

.calloptions-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
